*{
    margin: 0;
    padding: 0;
}

/* font */
.font-poppins{
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
}

/* navbar */
.navbar{
    padding: 50px 120px 0px 120px;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}
.menu{
    display: none;
}
.nav-title{
    font-size: 24px;
    font-weight: bold;
    color: #3A3A3A;
}

.nav-items{
    display: flex;
    align-items: center;
    gap: 34px;
}

.nav-items>ul{
    list-style: none;
}

.nav-items-2{
    display: flex;
    gap: 34px;
}
.nav-items-2>li>a{
    text-decoration: none;
    font-size: 16;
    font-weight: 600;
    color: #3A3A3A;
}




/* responsive */
/* small device responsive */
@media screen and (max-width: 576px) {
    .navbar{
        padding: 35px 16px 0px 16px;
    }
    .nav-items-2{
        display: none;
    }
    .search{
        display: none;
    }
    .menu{
        display: block;
    }
}