*{
    margin: 0;
    padding: 0;
}

/* font */
.font-poppins{
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
}

/* navbar */
.navbar{
    padding: 50px 120px 0px 120px;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}
.menu{
    display: none;
}
.nav-title{
    font-size: 1.5rem;
    font-weight: bold;
    color: #3A3A3A;
}

.nav-items{
    display: flex;
    align-items: center;
    gap: 34px;
}

.nav-items>ul{
    list-style: none;
}

.nav-items-2{
    display: flex;
    gap: 34px;
}
.nav-items-2>li>a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: #3A3A3A;
}

/* banner style */
.banner-container{
    display: flex;
    align-items: center;
    padding: 0px 120px;
    gap: 131px;
    justify-content: space-between;
    background-image: url(../images/circle-design.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 120px);
    margin-top: 50px;
}
.banner-image{
    margin: 30px 33px 30px 0px;
}
.banner-title{
    font-size: 3.25rem;
    font-weight: bold;
    color: #3A3A3A;
    margin-bottom: 16px;
}

.banner-description{
    font-size: 1rem;
    font-weight: 600;
    color: #3A3A3A;
    margin-bottom: 16px;
}

.btn{
    border: none;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    background-color: #E02C6D;
    padding: 10px 24px;
    border-radius: 41px;
    color: #FFFFFF;
    gap: 8px;
}
.btn>img{
    filter: brightness(0) invert(1);
}

/* companies */
.companies{
    margin-top: 60px;
    margin-left: 165px;
    margin-right: 165px;
}

.companies-container{
    padding: 35px 62px;
    /* border: 1px solid gray; */
    border-top: 1px solid #C0CCDA;
    border-bottom: 1px solid #C0CCDA;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

/* popular collection */
.popular, .featured{
    margin-top: 100px;
    margin-left: 196px;
    margin-right: 196px;
}

.popular-container{
    justify-items: center;
}


.collection-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 100px;
    row-gap: 50px;
}

.popular-container>h3{
    font-size: 1.75rem;
    font-weight: 600;
    color: #3A3A3A;
    margin-bottom: 30px;
}

.collection-card{
    padding: 17px 15px;
    border-radius: 8px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}


.collection-title{
    font-size: 1.75rem;
    font-weight: 500;
    color: #18191F;
    margin-bottom: 6px;
}

.price{
    font-size: 1.5rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
}
.rating{
    font-size: 0.8rem;
    font-weight: bold;
    color: #5E6366;
}


.collection-description{
    font-size: 0.8rem;
    font-weight: bold;
    color: #787885;
}

.see-more{
    justify-items: right;
    margin-right: 160px;
    margin-top: 20px;
}


.featured-container{
    display: flex;
    /* justify-content: space-between; */
    gap: 100px;
    align-items: center;
}

.featured-title{
    font-size: 2.5rem;
    font-weight: bold;
    color: #0A0826;
    margin-bottom: 16px;
}

.featured-description{
    font-size: 1rem;
    font-weight: bold;
    color: #6C6C6C;
    margin-bottom: 16px;
}

footer{
    background-color: #0A0826;
    margin-top: 100px;
}


.footer-container{
    padding: 50px 588px;
    justify-items: center;
    text-align: center;
}

.footer-title{
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFFFFF;
}

.footer-description{
    font-size: 0.8rem;
    font-weight: bold;
    color: #D9DBE1;
    margin-bottom: 18px;
}

.footer-icons{
    display: flex;
    gap: 16px;
}



/* responsive */
/* small device responsive */
@media screen and (max-width: 576px) {
    .navbar{
        padding: 35px 16px 0px 16px;
    }
    .nav-items-2{
        display: none;
    }
    .search{
        display: none;
    }
    .menu{
        display: block;
    }
    .banner-container{
        padding: 0px;
        flex-direction: column-reverse;
        background-position: top;
        align-items: center;
        background-size:257px 257px;
    }
    .banner-details{
        width: 100%;
        text-align: center;
        justify-items: center;
    }
    .banner-title{
        width: 100%;
        font-size: 1.75rem;
        text-align: center;
    }
    .banner-image>img{
        width: 200px;
        height: 190px;
    }

    .companies, .popular, .featured{
        margin: 0 auto;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .companies-container{
    padding: 0px 0px;
    margin: 0 auto;
    /* border: 1px solid gray; */
    border: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    }

    .popular{
        margin: 0 auto;
    }
    .collection-container{
        grid-template-columns: repeat(1, 1fr);
    }

    .see-more{
    justify-items: right;
    margin-right: 70px;
    margin-top: 20px;
    }


    .featured-container{
        flex-direction: column-reverse;
    }

    .featured-details{
        justify-items: center;
    }

    .featured-title{
    font-size: 1.5rem;
    font-weight: bold;
    color: #0A0826;
    margin-bottom: 16px;
    }
    .footer-container{
    padding: 50px 68px;
    justify-items: center;
    text-align: center;
    }

}